input#message {
    background:none;
    border:none;
    border-bottom: 1px solid #4C4C4C;
    outline:none;
    box-shadow:none;
    color: white;
    font-size:1.6em;
    font-weight:300;
}

.chat-container a {
    color: skyblue;
}

.chat-container p {
    background:#323035;
    font-size: 1.2em;
}

.imgX {
    width: 10%;
    text-align: center;
}

img {
    border-radius: 50%;
}

.fullX {
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .imgX {
        width: 25%;
    }

    .fullX {
        width: 70%;
        margin-right: 5%;
    }
}