<div class="chatX container mt-5">
  <ng-template #showLogin>
    <button class="btn" (click)="login()">Login With Facebook</button>
  </ng-template>

  <div *ngIf="afAuth.user | async as user; else showLogin">
    <div class="row d-flex justify-content-between mb-5">
      <input type="text" class="col-8" id="message" placeholder="Chat here..." autofocus (keyup.enter)="sendChat($event.target.value)"
        [(ngModel)]="message" />
      <button class="col-3 btn" (click)="logout()">Logout</button>
    </div>

    <div class="chat-container row" *ngFor="let item of items | async; let i = index">
      <a href="#">{{item.name}}</a>
      <p class="col-12">{{item.message}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
