* {
    font-family: 'Raleway';
}

body {
    background-color:#242226;
    color: #fff;
    height: 100vh;
}

.loginX {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background:#4267B2;
    color:white;
    text-align:center;
    font-size:1.2em;
    cursor:pointer;
}